/**
 * Web Page Archive configuration pages.
 */
.web-page-archive-capture-utility-new,
.web-page-archive-capture-utility-new div {
  display: inline;
}

.image-style-web-page-archive-full {
  max-width: 100%;
}

.wpa-comparison-file-size {
  padding: 3px 0;
}

.wpa-hidden {
  display: none;
}

.wpa-code-window {
  background: #f0f0f0;
  padding: 15px;
}

.wpa-captured-url {
  word-wrap: break-word;
}
